//Animation
$hover-links: 0.25s all;

//Transition
@mixin transition($transition) {
  -moz-transition: $transition;
  -o-transition: $transition;
  -webkit-transition: $transition;
  transition: $transition;
}

//font-size
@mixin rem($size) {
  font-size: $size/16*1rem;
}

// Transform
@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

//Translate
@mixin translate ($x, $y) {
  @include transform(translate($x, $y));
}

//fonts
$pr-regular: "ProximaNova-Regular", Helvetica, Arial, sans-serif;
$pr-bold: "ProximaNova-Bold", Helvetica, Arial, sans-serif;
$pr-light: "ProximaNova-Light", Helvetica, Arial, sans-serif;